@import 'base/_nullstyle';


//* Подключение шрифтов

@import 'base/_fonts';

//* Шрифт по умолчанию =============================================================================================================================================================================================================================================================================
$fontFamily: "Roboto";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

//* Основные цвета
$mainColor: #585858; // Цвет шрифта по умолчанию

//* НАСТРОЙКИ ======================================================================================================================================================================================================================================================================================